# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
num = 6

print(num)

6

##### Assinging float

In [5]:
numfloat = 6.667

print(numfloat)
print(float(num))

6.667
6.0

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 3
num2 = 5.5

result = num1 + num2
print(result)

8.5

##### Subtraction

In [9]:
num1 = 3
num2 = 5.5

result = num1 - num2
print(result)

-2.5

##### Multiplication

In [10]:
num1 = 3
num2 = 5.5

result = num1 * num2
print(result)

16.5

##### Division

In [11]:
num1 = 3
num2 = 5.5

result = num1 / num2
print(result)

0.5454545454545454

##### Floor Division

In [15]:
num1 = 3
num2 = 5.5

result = num1 // num2
print(result)

0.0

##### Modulo

In [16]:
num1 = 3
num2 = 5.5

result = num1 % num2
print(result)

3.0

##### Exponential

In [17]:
square = 5**2
print(square)

25

### String Input-Output

##### String Assignment

In [18]:
name = 'An'
randomname = "Ellie"

print('Hi ')
print(name)

hi
An

##### print() <br>
<p>Don't forget about end=' '</p>

In [20]:
print("Hi my name is", name)
print("Full name:", name, end=" Pham")
sep'<>'

Hi my name is An
Full name: An Pham

##### String Concatenation

In [24]:
first_name = "Jonah"
last_name = "Byrde"
full_name = first_name + ' ' + last_name
full_name += "isfictional"
print(full_name)

Jonah Byrdeisfictional

##### Type Conversion

In [25]:
string_num = '67'
print(type(string_num), string_num)
x = int(string_num)
print(type(x), x)

<class 'str'> 67
<class 'int'> 67

##### input()

In [26]:
som_input = input('type your age')

print(som_input, type(som_input))

type your age42
42 <class 'str'>

##### format()

In [28]:
age = input('what is your age?')
result_string = "you're {} years {} ".format(age, name)
print(result_string)

what is your age?20
you're 20 years An

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [30]:
color = input("What is the color?: ")
year = input("What year is the vehicle?: ")
make = input("What is the brand of the vehicle?: ")
model = input("What is the model?: ")
print(f"The vehicle you are looking for is a {year} {color} {make} {model}")

What is the color?: Red
What year is the vehicle?: 2008
What is the brand of the vehicle?: Acura
What is the model?: RSX
The vehicle you are looking for is a 2008 Red Acura RSX

### If Statements

In [32]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2== num1:
    print("Equal!")
else:
    print("Not equal")
    
if num2 >= num1:
    print("num2 is greater or maybe equal")
elif num1 <= num2:
    print("num1 is less than or maybe equal")

Not equal
num2 is greater or maybe equal

##### 'is' keyword

In [34]:
#We'll use this when  checking a similar/same object but not the same value!
a_num = 34

if a_num is 34:
    print("this is the exact number/object")
if a_num == 34:
    print("this is the exact number/object")

this is the exact number/object
this is the exact number/object

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Admin\AppData\Local\Temp\ipykernel_8548\799630765.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if a_num is 34:

##### 'in' keyword

In [39]:
# Membership check!

new_name= "Logan"
if 'a' in new_name:
    print(f"a is in {new_name}")

a is in Logan

##### 'not in' keyword'

In [38]:
if 'a' not in new_name:
    print(f"a is not in {new_name}")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [41]:
name = input("What is your name?: ")

if "p" in name:
    print("your name has a p in it")
else:
    print("your name does not have a p in it")

What is your name?: Alfred
your name does not have a p in it

## Using 'and'/'or' with If Statements

In [40]:
nums1 = 15
nums2 = 3
nums3 = 10
nums4 = 3

# with the "AND" statement
if nums1 / 5 == nums2 and nums3 -7 == nums4:
    print("True and True")
    
# with "OR" statement

if nums1 > nums2 or nums3 == nums4:
    print("True and False")

True and True
True and False

### Elif Statements

In [43]:
first_name = "Max"

if first_name == "Smith":
    print("The name is Smith")
elif first_name != "Max":
    print("name is NOT max")
else:
    print("This is what will print with the string Max")

This is what will print with the string Max

### Else Statements

In [ ]:
# see above

### For Loops

In [46]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [45]:
for i in range(20):
    continue
    print(i)

##### Break Statement

In [44]:
for i in range(20):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for n in name:
    pass # TODO need to come back and finish this!

##### Double For Loops

In [47]:
for i in range(5):
    for j in range (5):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=0, j=2
i=0, j=3
i=0, j=4
i=1, j=0
i=1, j=1
i=1, j=2
i=1, j=3
i=1, j=4
i=2, j=0
i=2, j=1
i=2, j=2
i=2, j=3
i=2, j=4
i=3, j=0
i=3, j=1
i=3, j=2
i=3, j=3
i=3, j=4
i=4, j=0
i=4, j=1
i=4, j=2
i=4, j=3
i=4, j=4

### While Loops

In [ ]:
# While keyword, condition statement

v = 0
while v< 10:
    print(v)
    v += 1

##### Looping 'While True'

In [ ]:
game_over = False

while True:
    print("Infinite Loop - Don't do this!!!")
    if game_over == False:
        break

##### While & For Loops Used Together

In [49]:
num = 0

while num < 5:
    print(f"Whil loop iteration:{num}, '\n")
    
    for x in range(3):
        print(f"for loop iteration:{x}")
    num += 1

Whil loop iteration:0, '

for loop iteration:0
for loop iteration:1
for loop iteration:2
Whil loop iteration:1, '

for loop iteration:0
for loop iteration:1
for loop iteration:2
Whil loop iteration:2, '

for loop iteration:0
for loop iteration:1
for loop iteration:2
Whil loop iteration:3, '

for loop iteration:0
for loop iteration:1
for loop iteration:2
Whil loop iteration:4, '

for loop iteration:0
for loop iteration:1
for loop iteration:2

### Built-In Functions

##### range()

In [51]:
# Start, Stop (non-inclusive), step
for x in range(10):
    print(x)
print('\n')
for x in range(0, 10, 1):
    print(x)
print('\n')
for x in range(1, 10, 2):
    print(x)

0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5
6
7
8
9


1
3
5
7
9

##### len()

In [52]:
for i in range(len(name)):
    print(name[i], i)
    
print(len(name))

A 0
l 1
f 2
r 3
e 4
d 5

##### help()

In [ ]:
help(len)

##### isinstance()

In [55]:
# check a variable to see if it's a member of an object family
# isinstance(var, type)

print(isinstance(4.5, int))

False

##### abs()

In [ ]:
#absolute value
num = -5
print(abs(num))

### Try and Except

In [58]:
#use this when we expect to eoncounter a bug but we don't want the program to stop/crash/etc.
#try keyword: code to execute
#except keyword: what to do
try:
    number_test= 0
    input_num = int(input('Guess a number!'))
    if input_num != number_test:
        print(f"Your number is {str(input_num)}")
except:
    print("that did not work!")

guess a number!8
Your number is 8

### Lists

##### Declaring Lists

In [59]:
l_1 = []
print(l_1, type(l_1))

name_list = ["Brandt", "Brendan", "Aubrey", "Rachel"]
print(name_list)

[] <class 'list'>
['Brandt', 'Brendan', 'Aubrey', 'Rachel']

##### Indexing a List

In [60]:
for i in range(len(name_list)):
    print(i, name_list[i])

0 Brandt
1 Brendan
2 Aubrey
3 Rachel

In [ ]:
print(name_list[3])

##### .append()

In [62]:
name_list.append('Joel')

In [63]:
name_list

['Brandt', 'Brendan', 'Aubrey', 'Rachel', 'Rachel']

##### .insert()

In [65]:
name_list.insert(0,"Nicole")

print(name_list)

['Nicole', 'Brandt', 'Brendan', 'Aubrey', 'Rachel', 'Rachel']

##### .pop()

In [68]:
print(name_list.pop(0))

print(name_list)

Nicole
['Brandt', 'Brendan', 'Rachel']


##### .remove()

In [67]:
name_list.remove("Aubrey")
print(name_list)

['Nicole', 'Brandt', 'Brendan', 'Rachel']

##### del()

In [ ]:
# BE CAREFUL !
del(name_list[3])
print(name_list)

##### Concatenating Two Lists

In [69]:
#will append lists together, not add up the elements in each list

l_2 = [ 0, 1, 2]
l_3 = [ 3, 4, 5]
combo = l_2 + l_3
print(combo)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [70]:
# list can hold any type of element, even mroe list!
# they can be nested several layers deep

new_names = ["Max", "Sam", "Josh", ["Bill", "Sally"]]
print(new_names)
print(new_names[3])

print(new_names[0])

['Max', 'Sam', 'Josh', ['Bill', 'Sally']]
['Bill', 'Sally']
Max

##### Looping Through Lists

In [71]:
#two basic ways: by index or by the "in word"

for n in name_list:
    print(n)
for i in range(len(name_list)):
    print(name_list[i])

Brandt
Brendan
Rachel
Brandt
Brendan
Rachel

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [81]:
x = 1
y = 0
while y <= 1000:
    y = (x**3)
    if y >= 1000:
        break
    else:
        print(y)
        x +=1

1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [80]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for x in range (1, 101):
    count = 0
    for i in range(2, (x//2 + 1)):
        if(x % i == 0):
            count += 1
            break

    if (count == 0 and x != 1):
        print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [83]:
def inputnumber(message):
  while True:
    try:
       userInput = int(input(message))
    except ValueError:
       print("Not an integer! Try again.")
       continue
    else:
       return userInput 

age = inputnumber("What is your age?: ")
if age < 18:
    print("kids")
elif age >= 66:
    print("seniors")
else:
    print("adults")

What is your age?: as
Not an integer! Try again.
What is your age?: 39
adults